body {
  font-family: var(--font-body);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  line-height: 1.2;
}

p {
  color: var(--color-text);
}

main {
  min-height: 100vh;
}



@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {
  
}