/* ------------------------ footer style ----------------------*/
/* the line separating the footer from the page */

.site-footer::before 
{
    content: "";
    display: block;

    max-width: var(--container-max);
    height: 1px;

    margin: 0 auto var(--space-4xl);

    background-color: var(--color-border);
    opacity: 0.5;
}

/*  ------------------------------------------- */
.site-footer 
{
    margin-top: var(--space-4xl);
    padding: var(--space-3xl) var(--space-3xl);

    background-color: var(--color-bg);
    color: var(--color-text);
}

/*---------------------------------------------*/
/*  footer container has two flex items ::
    1- footer-brand (logo - discription - socials )
    2- footer-links ( has 3 columns of links )
*/
.footer-container 
{
    max-width: var(--container-max);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    gap: var(--space-3xl);
}

/*---------------------------------------------*/
/* 1 - footer brnad                            */

.footer-brand 
{
    max-width: 320px;

    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.footer-logo 
{
    font-family: var(--font-logo);
    font-size: var(--fs-4xl);
    font-weight: var(--fw-bold);
    color: var(--color-text-primary);
    margin-bottom: 0;

    text-decoration: none;
    letter-spacing: -3px;
    display : inline-block;
}

.footer-description 
{
    max-width: 50ch;
    font-size: var(--fs-xs);
    line-height: 1.3;
    color: var(--color-text-secondary);
}

.footer-socials 
{
    display: flex;
    gap: var(--space-md);
    margin-top: var(--space-md);
}

.footer-socials img 
{
    width: 20px;
    height: 20px;
    display: block;
}

/*---------------------------------------------*/
/* 1 - footer links                            */

.footer-toggle
{
    margin-bottom: var(--space-md); 
    font-family: var(--font-body);
    font-size: var(--fs-xs);
    font-weight: var(--fw-semibold);
    color: var(--color-text-secondary);


    text-align: left;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.footer-links 
{
    display: flex;
    gap: var(--space-4xl);
}

.footer-column ul 
{
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.footer-column li {
    margin: 0;
}

.footer-column a 
{
    font-size: var(--fs-xs);
    color: var(--color-text-light);
    text-decoration: none;
    transition: var(--transition-fast);
}

.footer-column a:hover 
{
    color: var(--color-text);
}

/* -----------------------------------------------------------------*/
/* break points  :           tabet                                  */
/* -----------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .footer-container 
    {
        align-items: flex-start;
        gap: var(--space-2xl);
    }

    .footer-links 
    {
        display: flex;
        flex-direction: column;
        gap: var(--space-lg);
        flex: 0 0 260px;
    }

    .footer-column 
    {
        border-bottom: 1px solid var(--color-border);
        padding-bottom: var(--space-md);
    }

    .footer-toggle 
    {

        width: 100%;
        margin-bottom: var(--space-sm); 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-menu 
    {
        display: none;
    }
}

/* -----------------------------------------------------------------*/
/* break points  :           mobile                                 */
/* -----------------------------------------------------------------*/
@media screen and (max-width: 767px) {
    .footer-container 
    {
        display: flex;
        flex-direction: column;
        gap: var(--space-2xl);
    }

    .footer-links 
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--space-lg);
        width: 100%;

        order: 1;
    }

    .footer-brand 
    {
        order: 2;
    }
    .footer-container 
    {
        align-items: center;
        text-align: center;
    }

    .footer-links 
    {
        align-items: center;
    }

    .footer-column 
    {
        align-items: center;
    }

    .footer-menu 
    {
        align-items: center;
    }

    .footer-toggle 
    {
        text-align: center;
    }

    .footer-socials 
    {
        justify-content: center;
    }
}